ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.back-btn {
  background-color: #3b69b2;
  max-width: 95px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.back-btn:hover,
.back-btn:focus {
  background-color: #2563eb;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  background-color: #f4f4f4;
  padding: 20px;
}

#datetime-picker {
  margin-top: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  border: 2px solid #808080;
  border-radius: 4px;
  margin-bottom: 32px;
}

button[data-start] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  justify-content: left;
  width: 346px;
  height: 72px;
  gap: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  text-align: center;
  font-size: 40px;
  color: #2e2f42;
}

.label {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
